
.register {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  &.left {
    background-color: #000F7C;
    top: -20px;
    left: -80px;
  }

  &.right-up {
    right: -100px;
    top: 0;
    background-color: #7000FF;
  }

  &.right-down {
    bottom: -100px;
    right: -100px;
    background-color: #0018B3;
  }
}


.inner {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;

  .left-section {
    h3 {
      color: white;
    }

    padding: 1em;
    background: linear-gradient(90deg, #0018B3 0%, #2337af 25%, #3545ad 50%, #5260b7 100%);
    height: 100%;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    width: 70%;
    z-index: 2;

    .inner-left {
      background-color: #AEB9FF;
      top: 80%;
      left: -50px;
      z-index: -1;
    }

    .inner-right {
      background-color: #D9DEFF;
      top: -50px;
      right: -50px;
      z-index: -1;
    }

    .inner-left-content {
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 80%;
      height: 100%;

      .register_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 0 10px 0;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: max-content;
        width: 100%;

        .inputWrapper {
          width: 100%;
        }

        .right {
          justify-self: end;
        }
      }
    }
  }

  .right-section {
    background-color: white;
    position: absolute;
    height: 80%;
    width: 32%;
    right: 0;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-right-content {
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      width: 70%;
      height: 60%;
    }
  }
}
